body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

.movie-list {
    padding: 100px 0;
}

.movie-list__header {
    font-size: 50px;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf");
    color: #252525;
    font-weight: 700;
    margin: 0 0 79px;
    text-align: center;
}

ul li {
    display: inline;
}

.container {
    max-width: 1030px;
    margin: 0 auto;

}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.movie-list__table th {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 19px 0px;
    vertical-align: top;
}

.movie-list__table td {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #373737;
    padding: 18px 0;
    vertical-align: top;
}

.movie-list__col1 {
    width: 230px;
} 
.movie-list__col3 {
    width: 130px;
}

.movie-list__td3 {
    padding: 10 40px;
}

.movie-list__td1 {
    padding-left: 5px;
}